/GoingViral/GoingViral.v11.suo
/GoingViral/GoingViral/bin
/GoingViral/GoingViral/obj
/TeamChallenges/TeamChallenge2/*.suo
/TeamChallenges/TeamChallenge2/TeamChallenge2/bin
/TeamChallenges/TeamChallenge2/TeamChallenge2/obj
