/GoingViral/GoingViral.v11.suo
/GoingViral/GoingViral/bin
/GoingViral/GoingViral/obj
/TeamChallenges/TeamChallenge2/*.suo
/TeamChallenges/TeamChallenge2/TeamChallenge2/bin
/TeamChallenges/TeamChallenge2/TeamChallenge2/obj
*.suo
/TeamChallenges/TeamChallenge3/TeamChallenge3/TeamChallenge3/obj
/TeamChallenges/TeamChallenge3/TeamChallenge3/TeamChallenge3/bin
